  <!DOCTYPE html>
  <html>
    <head>
      
      
      <meta property="og:title" content="Discord Bot Launcher Download">
      <meta property="og:description" content="Pagina para descargar Discord Bot Launcher, esta es una aplicacion para developers de discord, con ejemplos de la libreria Discord.js y discord-passport, ejemplos de Dashboard y un bot normal, pronto habran mas cosas.">
      <meta property="og:url" content="https/andrewdjs.glitch.me/dblauncher">
      
           
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
       <link rel="stylesheet" href="/style.css">
      <script type="text/javascript">function add_chatinline(){var hccid=77883800;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); </script>
      
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

   <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
    <script>
    
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
    
    
    </script>  
    
    
      <style>
body {
        background-image: url("https://cdn.glitch.com/8cc66a52-36d8-41d8-943f-adf15297e2c5%2FeS4IxK3.png?v=1563217886836");
  
  
} 
 
</style>
      
    <body>   
      
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>


    
    
   
      
          <pre>
          
          
          
          
          </pre>
 
  <div class="container">
      <div class="pricing-table table1">
        <div class="pricing-header">
          <div class="price"><span></span>Free</div>
          <div class="title">DB Launcher</div>
        </div>
        <ul class="pricing-list">
          <li><strong>Dashboard  </strong> remix    <pre> </pre> </li> 
          <div class="border"></div>
          <li><strong>Bot</strong> remix <pre> </pre></li>
          <div class="border"></div>
          <li><strong>DJS</strong> Portal <pre> </pre></li>
          <div class="border"></div>
          <li><strong>Help</strong> portal <pre> </pre></li>
        </ul>
        <a href="https://cdn.glitch.com/8cc66a52-36d8-41d8-943f-adf15297e2c5%2FDB%20Launcher%20V.2.0.rar?v=1575823296941"  onclick="myFunction()">Download</a>
      </div>

      </div>
    
                 
<script>
function myFunction() {
  alert("Muchas Gracias! \n tu descarga esta siendo procesada, si necesitas ayuda entra a nuestro servidor de Soporte.");
}
</script>

          
</div>
          

          
        

          

          
      </div>
      </div>

    

    
    
    
 
      
      
      

      
          
         
         
      
      
      

      

      
      <script>
            document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
          
          </script>
    </body>
      
      
  </html>